@charset "ISO-8859-1";
body{ color:#fff;
background-image: url('/image/bg.jpg');}
/* .form-container{border:40px solid #fff; padding:60px 90px; margin-top:20vh;
-webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
} */