<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
 <div class ="container">
		<div class = "row">
			<h1> Vehicle_List </h1>
		</div>
		
		<div class = "row">
			<div class = "col-lg-3">
				<a th:href = "@{/vehicle}" class = "btn btn-primary btn-sm mb-3"> </a>
			</div>
		</div>
		<table class = "table table-striped table-bordered">
			<thead class = "table-dark">
				<tr>
					<th> veh_id </th>
					<th>   veh_name</th>
					<th>   category </th>
					<th>  plate_number </th>
					<th> type </th>
					<th> color </th>
					<th>registration_date</th>
				</tr>
			</thead>

<h1></h1>
 <tr th:each="vehicle: ${vehicleList}">
    <td th:text="$vehicle.veh_id}" />
    <td th:text="${vehicle.veh_name}" />
     <td th:text="${vehicle. category}" />
      <td th:text="${vehicle. plateNumber}" />
       <td th:text="${vehicle. type}" />
        <td th:text="${vehicle.color}" />
         <td th:text="${vehicle.registrationDate}" />
         
       
      
     
    
    
</tr>



</body>
</html>

</body>
</html>